
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px; 

}

.schedule {
    width: 100%;
    max-width: 1800px;
    direction: ltr;
}

.schedule div.row {
    border: 1px solid black;
    position: relative;
    margin-top: 2px;
}

.schedule div.header { /* below table first row (header)*/
    height: 25px;
    font-weight: bold;
    background: #ababab;
    
}

.schedule div.headerSlot {
    height: 24px;
    position: absolute;
    width: 7.7%;
    border-left: 1px solid black;
}

.schedule div.day {
    text-align: center;
    height: 24px;
    font-weight: bold;
    position: absolute;
    left: 0px;
    width: 7.7%;
    border-right: 1px solid black;
}

.schedule div.meeting {
    height: 20px;
    text-align: center;
    position: absolute;
    border-right: 1px solid #555;
    border-left: 1px solid #555;
    font-size: .85em;
}

.schedule div.conflict div.meeting {
    border-bottom: 1px solid black;
    height: 19px;
}

.schedule-day-0,
.schedule-day-1,
.schedule-day-2,
.schedule-day-3,
.schedule-day-4,
.schedule-day-5,
.schedule-day-6 {
    height: 25px;
}

.headerSlot{
    height: 20px;
    position:absolute;
    width:7.7%;
    border-left:1px solid black;
}

@media screen and (max-width: 1100px) {
        
    .schedule div.day {font-size: 13px;} /* days in below table */
  }
@media screen and (max-width: 600px) { /* 400 - 600 */
    .schedule div.day {
        font-size: 10px;
        font-weight: bold;
        padding-top: 3px;


    } /* days in below table */
}


@media screen and (max-width: 400px) {
    .schedule div.day {
        font-size: 8px;
        padding-top: 5px;

    } /* days in below table */
    .schedule div.header{font-size: 10px;}

}


