.container{
    margin-top: -50px;
    margin-bottom: 20px;
}
h1{
    
    
  font-weight: 400;
  font-style: normal;
}


fieldset {
  border-color: #0000;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  & legend {
    color: #666696;
    font-weight: 500;
  }
}
@media screen and (max-width: 600px) {
    .container{
        margin-top: -20px;
    }
  
  }